<div id="contact" class="contact-container container-spacing" style="padding: 20px;">
    <div uk-grid>
        <div class="uk-width-1-2">
                <h2 class="section-title" style="color: white;">Alessandra Laudando</h2>
                <div>
                    <i class="fas fa-envelope-square fa-lg"></i>
                    <a href="mailto:alauda2@euic.edu" target="_top" style="color: white;">
                        <span class="contact-text">alauda2@uic.edu</span>
                    </a>
                </div>
                <div>
                    <i class="fas fa-phone-square fa-lg"></i>
                    <span class="contact-text">630-873-0681</span>
                </div>
            </div>
            <div id="contact-social-icons" class="uk-width-1-2">
                <div class="uk-flex uk-flex-right">
                    <a href="https://github.com/AlessandraLaud" target="_blank" style="color: white;">
                        <i class="fab fa-github-square fa-3x"></i>
                    </a>
                </div>
                <div class="uk-flex uk-flex-right">
                    <a href="https://www.linkedin.com/in/alessandra-laudando/" target="_blank" style="color: white;">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </a>
                </div>
            </div>
    </div>
</div>